/* All styles */

*
{
    font-family: 'Open Sans', sans-serif;
}


/* Nav related styles */
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navtitle
{
color: #181818;
font-size: 45px;
font-weight: 800;
}

nav > h3 >span
{
    color: #FD6E0A;
font-size: 45px;
font-weight: 800;
}

nav > ul
{
    display: flex; 
    align-items: center;
}

nav li
{
    list-style: none;
    margin-right: 50px
}

nav a
{
    text-decoration: none;
    color: #474747;
    font-size: 20px;        
    font-weight: 400;
}

.button-primary
{
    color: white;
    font-size: 15px;
    font-family: Open Sans;
    font-weight: 600;
    background: #FD6E0A; 
    border-radius: 5px;
    padding: 15px 35px;
    text-align: center;
    border: none;

}